* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background: rgb(91, 91, 105);
  color: rgb(243, 243, 243);
  padding: 16px;
  min-width: 460px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24);
}

header > * {
  display: inline-block;
  vertical-align: middle;
}

#logo {
  margin-right: 10px;
  font-size: 2rem;
  font-weight: 1;
}

.brig {
  font-weight: 800;
  color: rgb(255, 236, 29);
}

form > * {
  display: inline-block;
  vertical-align: middle;
}

#city-input {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24);
  border: none;
  padding: 2px 6px;
  font-size: 1rem;
}

button {
  background-color: rgb(255, 236, 29);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 3px;
  font-size: 0.9rem;
  color: rgb(91, 91, 105);
  padding: 1px 6px;
  margin-left: 8px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(230, 211, 0);
}

main {
  background-color: rgb(246, 246, 246);
}

section {
  padding: 32px;
  min-width: 320px;
}

#today {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24);
  background-size: cover;
  min-width: 460px;
}

.div-header {
  padding: 4px 16px 4px 40px;
  width: fit-content;
  background-color: rgb(255, 236, 29);
  color: rgb(91, 91, 105);
  font-size: 1.3rem;
  font-weight: 600;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 24px;
  margin-left: -32px;
}

#today-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 12px;
  border-radius: 8px;
  width: max-content;
}

#today-content > * {
  display: inline-block;
}

#temps {
  display: inline-block;
  width: fit-content;
}

#current {
  font-size: 4rem;
  margin-right: 4px;
  color: rgb(239, 239, 239);
}

.degree {
  position: relative;
  top: -0.4em;
  font-size: 0.75em;
}

.high-low {
  position: relative;
  top: 4px;
  font-size: 1.5em;
  font-weight: 500;
  width: min-content;
}

.line-divide {
  width: 2ch;
  height: 1px;
  margin: 8px auto;
  background: rgb(239, 239, 239);
}

.high {
  color: rgb(255, 50, 50);
}

.low {
  color: rgb(0, 148, 253);
}

.right {
  margin-left: auto;
}

#today img {
  height: 1.5rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#sunrise,
#sunset {
  display: inline-block;
  padding: 12px;
  text-align: center;
  color: rgb(239, 239, 239);
}

#seven-day {
  background-image: url("radar.jpg");
  background-size: cover;
  min-width: 460px;
}

#seven-day-container > * {
  display: inline-block;
  font-size: 0.75rem;
  margin: 8px;
}

.day {
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
}

.day > div {
  display: inline-block;
  padding: 8px;
  vertical-align: middle;
}

.day-icon img {
  width: 30px;
}

.weekday {
  text-align: center;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}
